<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818222575960-uts929jokb0n9t99fn05or2j5vldjbi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818222575960-uts929jokb0n9t99fn05or2j5vldjbi8</string>
	<key>API_KEY</key>
	<string>AIzaSyBSAA9AFNT8oO44D4iThrkzf44DCZNJfXU</string>
	<key>GCM_SENDER_ID</key>
	<string>818222575960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.aitest</string>
	<key>PROJECT_ID</key>
	<string>photic-3b3a4</string>
	<key>STORAGE_BUCKET</key>
	<string>photic-3b3a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818222575960:ios:c01d141277d5ae3bd5752d</string>
</dict>
</plist>