<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829408357407-5uaoefkjt9d6gpo9hmbnp66ignhn8bef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829408357407-5uaoefkjt9d6gpo9hmbnp66ignhn8bef</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>829408357407-0bv7920bsjgd67ncrf3u0il7s2588fl3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8K03ZvwC9ygxx8E4lSj46bx4mVvl17V8</string>
	<key>GCM_SENDER_ID</key>
	<string>829408357407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.photiq.app</string>
	<key>PROJECT_ID</key>
	<string>photiq-eccd9</string>
	<key>STORAGE_BUCKET</key>
	<string>photiq-eccd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829408357407:ios:b3df7e26a39c56b601392a</string>
</dict>
</plist>